html {
  height:100%; border:0; padding:0; margin:0;
}

body {
  font-family:Open Sans,verdana,arial,tahoma,trebuchet ms;
  color:#444;
  background:#F8F8F4;
}

/* default href settings */
/* a {color:#24a; text-decoration:none; outline:none; } */
/* a:link {color:#24a; text-decoration:none; } */
/* a:visited {color:#24a; text-decoration:none; } */
/* a:active {color:#24a; text-decoration:none; } */
/* a:hover { color:#000; text-decoration:none; border-bottom:1px dotted #000; } */

.langmenu {
  margin-left:50%;
}

.outercolumns {
  background:#fefefe;
}

.pagecss {
  width: 900px;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  margin: auto;
  border-collapse: collapse;
  height: 100%;
}

/* Slider customisation */
.outerslider {
  background:#131313;
  padding-top:50px;
}

.nivoSlider {
  margin:0 auto;
  width:817px;
	height:390px;
}

/* Menu customisations */
.outermenu {
  background:#fdfdfd;
}

li.mm-item {
  margin:20px;
}

div.mm-item-content {
  background:rgba(211,217,222,0.95);
}

a.mm-item-link:link, a.mm-item-link:visited {
  font-size: 20px;
  text-transform:uppercase;
}

a.mm-item-link-hover:link, a.mm-item-link-hover:visited {
  background:rgba(211,217,222,0.95);
}

/* .box p:first-letter { */
/*   text-transform:capitalize; */
/*   font-size:xx-large; */
/*   font-weight:bold; */
/*   float:left; */
/*   padding-right:5px; */
/*   padding-top:5px; */
/* } */


/* News boxes */

.box img {
  width:45%; 
  padding-bottom:20px;
  padding-right:20px;
  float:left;
}


