html {
  height:100%; border:0; padding:0; margin:0;
}

body {
  font-family:Open Sans,verdana,arial,tahoma,trebuchet ms;
  color:#444;
  background:#F8F8F4;
}

/* default href settings */
/* a {color:#24a; text-decoration:none; outline:none; } */
/* a:link {color:#24a; text-decoration:none; } */
/* a:visited {color:#24a; text-decoration:none; } */
/* a:active {color:#24a; text-decoration:none; } */
/* a:hover { color:#000; text-decoration:none; border-bottom:1px dotted #000; } */

.langmenu {
  margin-left:50%;
}

.outercolumns {
  background:#fefefe;
}

.pagecss {
  width: 900px;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  margin: auto;
  border-collapse: collapse;
  height: 100%;
}

/* Slider customisation */
.outerslider {
  //background:#131313;
  padding-top:50px;
}

.nivoSlider {
  margin:0 auto;
  width:817px;
	height:390px;
}

/* Menu customisations */
.outermenu {
  background:#03274b;
  padding-bottom:20px;
}
.menucolumn {
  font-weight:bold;
  font-size:medium;
}
.menucolumn dd {
  margin:5px;
}

ul.megamenu {
  float:right;
}

li.mm-item {
  margin:20px;
}

div.mm-item-content {
  background:rgba(240,240,240,0.95);
}

a.mm-item-link:link, a.mm-item-link:visited {
  color: #f6f7f7;
  font-size: 20px;
  text-transform:uppercase;
  text-decoration: none;
}

a.mm-item-link-hover:link, a.mm-item-link-hover:visited {
  background:rgba(240,240,240,0.95);
  color: #323232;
}


/* Jumbotron */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}

.jumbotron img {
  /* float:left; */
}

.jumbotron h1 {
  font-size: 32px;
}

/* News boxes */

.box {
  text-align:justify;
}

.box img {
  width:38%; 
  padding-right:15px;
  padding-bottom:10px;
  float:left;
}

/* .box p:first-letter { */
/*   text-transform:capitalize; */
/*   font-size:xx-large; */
/*   font-weight:bold; */
/*   float:left; */
/*   padding-right:5px; */
/*   padding-top:5px; */
/* } */

